<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB-nALvU6tUyAnEtdQ--7hQ6kLaW5c1xbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>454995657689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.famousRestaurant</string>
	<key>PROJECT_ID</key>
	<string>restaurant-6652e</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurant-6652e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:454995657689:ios:7608ddeecbbe3047f48fc8</string>
	<key>DATABASE_URL</key>
	<string>https://restaurant-6652e-default-rtdb.firebaseio.com</string>
</dict>
</plist>